@import 'palette.less';
/* Parametric mixin for headings */

.headingStyle(@paramFamily; @paramColor; @paramSize) {
    font-family: @paramFamily;
    color: @paramColor; // this accepts a font color passed through as an argument
    font-size: @paramSize; // this accepts a font size passed through as an argument
    font-weight: bold; // this is static code... not everything has to be dynamic! 
}

/* End parametric mixin for headings */

.headers-generator(@n; @i : 1) when (@i =< @n)
{
  h@{i} {
    font-size: (2.5em - (@i - 1) * 0.5); 
      line-height: (3em - (@i - 1) * 0.5);
      font-family: 'Open Sans', sans-serif;
  }

  .headers-generator(@n; (@i + 1));
}

.headers-generator(6);

.generalFont {
    font-family: 'Open Sans', sans-serif;;
    font-size: 1rem;
    line-height: 1.5rem;
}
