/* MOBILE STYLESHEET */
@import 'palette.less';
@import 'mixins.less';

/* Header */
button,
input,
label,
select,
p,
a,
li {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    margin-bottom: 10px;
}

form {
    margin-bottom: 30px;
}

nav {
    background-color: @darkColor;

    .navbar-brand,
    a {
        color: @lightColor;
        font-size: 1.25em;

        &:hover {
            color: @color1;
        }
    }

    .navbar-toggler-icon {
        color: @lightColor;
    }
}

/* Main Section */
main {
    background-color: @lightColor;
    overflow-x: hidden;

    .jumbotron {
        background: linear-gradient(@darkColor 5%, transparent), url('../img/quino-al-4DZikSB1tCk-unsplash.jpg') center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: @lightColor;
        display: inline-block;
        padding: 0px 100px;
        height: 100%;
        width: 100%;
        border-radius: 0;
        margin-bottom: 0;
        text-align: center;

        h1 {
            position: absolute;
            width: 50%;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

    }

    .jumbo01 {
        background: linear-gradient(@darkColor 5%, transparent), url('../img/quino-al-4DZikSB1tCk-unsplash.jpg') center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: #ffffff;
        display: inline-block;
        padding: 0px 100px;
        height: 400px;
        width: 100%;

        h2 {
            height: 15em;
            display: flex;
            align-items: center;
            justify-content: center
        }
    }

    .two {
        background-color: @color1;
        color: @lightColor;

        p {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 20px;
        }

        li {
            font-size: 1.15em;
            line-height: 1.25em;
        }

        h2 {
            line-height: 2.5em;

        }

    }
}

/* Footer */
footer {
    background-color: @darkColor;
    color: @lightColor;
    overflow-x: hidden;

    h1 {
        color: @color1;
    }

    .widget {
        margin-bottom: 5px;
        text-align: center;

        .facebook {
            margin: 0 auto;
        }
    }

    .copyright {
        font-size: 12px;
        font-style: italic;
        text-align: center;
        margin-bottom: 0 !important;
    }
}

.container,
.container-fluid {
    padding: 20px 10px;
}

/* definition list */
dt,
dd {
    font-family: 'Open-Sans', Arial, sans-serif;
    margin: 2px 0;
    margin-bottom: 10px;
}

dt {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;

    &:hover {
        color: @color1;
    }
}

dd {
    font-size: 1.2em;
    margin-left: 35px;

    ul {
        list-style: disc;
    }

    li {
        margin-left: 30px;
        margin-bottom: 20px;
    }
}

/* arrow icon left */
dt:before {
    border: 0.5em solid;
    border-color: transparent transparent transparent @darkColor;
    content: '';
    display: inline-block;
    height: 0;
    margin-right: 0.5em;
    vertical-align: middle;
    width: 0;

    &:hover:before {
        border-left-color: @color1;

    }

}

/* arrow icon down */
dt.open:before {
    border-color: @color1 transparent transparent transparent;
    border-bottom-width: 0;

    &:hover:before {
        border-left-color: transparent;
        border-top-color: @color1;
    }

}
