/* MOBILE STYLESHEET */

@import 'palette.less';
@import 'mixins.less';

/* Header */
header {
    a {
        color: @lightColor;
        &:hover {
            color: @color1;
        }
    }
}

/* Main Section */
main {
    background-color: @lightColor;

    .sections {
        height: 300px;
        margin-top: 3rem;
    }

    .two {
        background-color: @color1;
        color: @lightColor;
    }
}

/* Footer */
footer {
    background-color: @darkColor;
    color: @lightColor;

    h1 {
        color: @color1;
    }
}
